

 html,body,#root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}



.App {
  text-align: center;
  text-decoration-color: #0e6881;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  position: relative;
  width: 230px;
  height: 300px;
  background: linear-gradient(-45deg, rgb(0, 153, 255) 0%, cyan 100%);
  overflow: hidden;
  border: 1px solid black;
  box-shadow: rgba(49, 109, 155, 0.618) 0px 40px 30px -25px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card:hover {
  transform: scale(1.08);
  box-shadow: rgba(29, 80, 119, 0.618) 0px 30px 30px -25px;
}

.icons-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 999;
}

.icons-container .svg {
  stroke: white;
  width: 20px;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.icons-container .svg:hover {
  transform: scale(1.5);
  stroke: black;
}

.icons-container .twitter {
  fill: white;
}

.icons-container .twitter:hover {
  fill: black;
  stroke: none;
}

.logo {
  width: 50px;
  padding: 1rem;
}

.logo .svg {
  fill: white;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-weight: bold;
  font-size: 1.1rem;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(100, 23, 23, 0.349) 5px 0px 10px 0px inset;
  transition: all 0.5s ease-in-out;
  display: grid;
  place-content: center;
  padding: 2rem 2rem 3rem 2rem;
  border: 1px solid black;
}

.box .content {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-in-out 0.3s;
}

.box .content .box-title {
  display: block;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.box .content .box-text {
  color: rgba(31, 228, 136, 0.738);
  font-size: 0.8rem;
}

.box:hover {
  right: 0;
  top: 0;
  border-radius: 0;
  border: 1px solid transparent;
  box-shadow: rgba(150, 17, 17, 0) 5px 0px 10px 0px inset;
}

.box:hover .content {
  transform: translate(0, 0);
  opacity: 1;
}

.box1 {
  top: -85%;
  right: -40%;
  background: rgb(30, 201, 169);
  border-radius: 00px;
}

.box2 {
  top: -70%;
  right: -45%;
  background: rgb(139, 98, 10);
  border-radius: 200px;
}

.box3 {
  top: -62%;
  right: -30%;
  background: rgb(124, 90, 10);
  border-radius: 200px;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 52, 52, 0.5);
  
  
  z-index: -1;
}
.gradient-background {
  background: linear-gradient(to right, #341362, #5c3415);
}

.text_u{
  color: rgb(181, 194, 194);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.modal-footer{
  background-color: rgb(8, 124, 124);

}
.footer {
  width: 100%;
  
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  left: 0;
}
.about_h{
  height: 00%;
}
.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.app-contanier{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root {
  flex: 1;
}